#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

i.devicon-java-plain-wordmark,.devicon-python-plain-wordmark,.devicon-javascript-plain
,.devicon-csharp-line-wordmark,.devicon-kotlin-plain-wordmark,.devicon-html5-plain-wordmark, 
.devicon-css3-plain-wordmark,.devicon-react-original-wordmark,
.devicon-nodejs-plain-wordmark,.devicon-dotnetcore-plain,
.devicon-npm-original-wordmark,.devicon-bash-plain,.devicon-mysql-plain-wordmark,
.devicon-mysql-plain-wordmark,.devicon-firebase-plain-wordmark,
.devicon-neo4j-plain-wordmark,.devicon-supabase-plain-wordmark
,.devicon-git-plain-wordmark,.devicon-github-original-wordmark,
.devicon-androidstudio-plain-wordmark,.devicon-pycharm-plain-wordmark,
.devicon-intellij-plain-wordmark,.devicon-visualstudio-line,.devicon-vscode-plain-wordmark
,.devicon-mongodb-plain-wordmark{
  background: grey;
  width: 100px;
  height: 60px;
  border-radius: 25px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font: outline;
}

i.devicon-java-plain-wordmark:hover,
.devicon-python-plain-wordmark:hover,
.devicon-javascript-plain:hover,
.devicon-csharp-line-wordmark:hover,
.devicon-kotlin-plain-wordmark:hover,
.devicon-html5-plain-wordmark:hover,
.devicon-css3-plain-wordmark:hover,
.devicon-react-original-wordmark:hover,
.devicon-nodejs-plain-wordmark:hover,
.devicon-dotnetcore-plain:hover,
.devicon-npm-original-wordmark:hover,
.devicon-bash-plain:hover,
.devicon-mysql-plain-wordmark:hover,
.devicon-firebase-plain-wordmark:hover,
.devicon-neo4j-plain-wordmark:hover,
.devicon-supabase-plain-wordmark:hover,
.devicon-git-plain-wordmark:hover,
.devicon-github-original-wordmark:hover,
.devicon-androidstudio-plain-wordmark:hover,
.devicon-pycharm-plain-wordmark:hover,
.devicon-intellij-plain-wordmark:hover,
.devicon-visualstudio-line:hover,
.devicon-vscode-plain-wordmark:hover,
.devicon-mongodb-plain-wordmark:hover {
    cursor: pointer;
}



.omMeg {
  display: flex;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

p#omMeg {
  font-size: larger;
  font-style: italic;
  font-weight: 600;
  color: aliceblue;
}รง

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.icons {
  display: flex;
  align-items: center;
  font-size: 50px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 10px;
  gap: 25px;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
